*{
    padding: 0%;
    margin: 0%;
    color:hwb(0 6% 93%);
 }
 body {
   background-color: rgb(126, 126, 134);
   background: linear-gradient(90deg, rgb(222, 222, 231) 35%, rgba(0,212,255,1) 100%);text-align: center;
    /* background-size: 500px ; */
    font-family: "Roboto", serif;
 }
.contain{
    width: 300px;
    height: 200px;
    text-align: center;
    color: white;
    margin-left: 36%;
    margin-top:8% ;
}
.contain .text{
    position: relative;
    top: 7%;
}
.inp1{
   padding: 1%;
}



.inp1{
    border: none;
    background-color: white;
    border-bottom: 1px solid white;
    width: 250px;
    font-size: 25px;
    margin-top: 40px;
    outline: none;
    color: rgb(13, 13, 12);
    padding-left: ;
}
inp2{
    border: none;
    background-color: white;
    border-bottom: 2px solid white;
    width: 250px;
    font-size: 25px;
    margin-top: 40px;
    outline: none;
    color: rgb(15, 14, 14);
 }
 p{
    margin-top: 30px;
    font-size: 20px;
 }
 p span{
    color:rgb(2, 11, 11);
    cursor:pointer;
 }
 .text button{
    width: 250px;
    height: 44px;
    background-color: aqua;
    border: none;
    color: black;
    font-size: 20px;
    border-radius: 25px;
    margin-top: 20px;
    cursor: pointer;
 }
 button:hover{
    border: 3px;
    color:white;
    font-size: 20px;
    background-color: black;
 }
 h2{
   margin-top: 3px;
    font-size: 20px;
 }



